In [5]:
import pandas as pd
import locale
locale.setlocale( locale.LC_ALL, 'en_US.UTF-8' )

'en_US.UTF-8'

In [6]:
sanders_data = pd.read_csv("sanders.csv")
totals_data = pd.read_csv("totals.csv")

In [7]:
sanders_data.head()

  County        Precinct First Expression Final Expression     SDE
0  Adair       1NW ADAIR                9                9  0.1569
1    NaN      2NE STUART               10               10  0.2353
2    NaN  5GF GREENFIELD               16               21  0.3137
3    NaN           Total               35               40  0.7059
4  Adams         Adams 5                3                3  0.0857

In [8]:
totals_data.head()

  County        Precinct  First Expression  Final Expression     SDE
0  Adair       1NW ADAIR                40                40  0.6275
1    NaN      2NE STUART                43                43  0.8628
2    NaN  5GF GREENFIELD                78                78  1.0197
3    NaN           Total               161               161  2.5100
4  Adams         Adams 5                15                15  0.4285

## Get All of the Counties

In [9]:
def collect_county_dataframes(data):
    county_dataframes = []
    county_start = 0
    
    for i in range(1, data.shape[0]):
        if isinstance(data.iloc[i,0], str):
            county_dataframes.append(data.iloc[county_start:i, :])
            county_start = i
            
    return county_dataframes

In [10]:
sanders_counties = collect_county_dataframes(sanders_data)
total_counties = collect_county_dataframes(totals_data)

In [11]:
sanders_counties[0]

  County        Precinct First Expression Final Expression     SDE
0  Adair       1NW ADAIR                9                9  0.1569
1    NaN      2NE STUART               10               10  0.2353
2    NaN  5GF GREENFIELD               16               21  0.3137
3    NaN           Total               35               40  0.7059

In [12]:
total_counties[0]

  County        Precinct  First Expression  Final Expression     SDE
0  Adair       1NW ADAIR                40                40  0.6275
1    NaN      2NE STUART                43                43  0.8628
2    NaN  5GF GREENFIELD                78                78  1.0197
3    NaN           Total               161               161  2.5100